p, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, li, li a {
  font-family: "Titillium Web", sans serif;
}

a {
    color:#2d2d2d;
}

a:hover {
    color:#7d7d7d;
}

/**********************/
/***     NAVBAR     ***/
/**********************/
.navbar {
    border:none;
}

.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}

.navbar-header:after {
    display: none;
}

.navbar li, .navbar li a {
  font-family: "Titillium Web", sans serif;
  letter-spacing:0.125em;
}

.navbar-collapse {
  position:fixed !important;
  top:0;
  left:inherit;
  z-index:100;
}

nav.navbar-collapse.collapse.in {
  margin:0;
  padding:0;
  width:250px;
  opacity:0.95;
  background-color:#ffdd00;
}

ul.nav {
  list-style-type: none;
  margin:0;
  padding:25px 0 10px 0;
  width:250px;
  font-size:18px;
  opacity:0.95;
  background-color:#ffdd00;
}

.navbar-main > li > a .bar {
  display:none;
}

li.active .navbar-item-text {
    color:#fff;
}

ul.nav navbar-nav navbar-main li.active {
  border:none;
  text-decoration:none;
}

.navbar-nav li a{
  margin-top: 0;
  display: block;
  float:left;
  height:43px;
  text-transform:none;
  font-weight:normal;
}

.navbar-nav > li {
  float:left;
  width:250px;
}

.navbar-nav > li.active  {
  float:left;
  background-color:#d2232a;
  width:250px;
  text-decoration:none;
  opacity:0.95;
}

.inmenu_logo {
  margin:0;
  padding:0;
  width:250px;
  height:80px;
  background-color:#ffdd00;
  opacity:0.95;
}

.navbar-default .navbar-nav > li > a {
  color:#414042;
  clear:right;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#fff;
}

@media (min-width: 992px) {
.navbar-brand-image>img {
    position:relative;
    top:0;
    left:0;
    padding:0;
}
}

@media (max-width: 991px) {
.navbar-header-main .navbar-brand.navbar-brand-image>img {
    position: absolute;
    top:0;
    max-height:80px;
    width: auto;
}
}
/**  END OF NAVBAR   **/

/**********************/
/**    SMALLMENU     **/
/**********************/

#smallmenu.navbar-header.navbar-header-main {
  position:fixed;
  top:-999px;
  height:0;
  padding:0;
  margin-left:0;
}

#smallmenu.navbar-header.navbar-header-main.scrolled img {
  margin-left:-20px;
  padding:0;
  width:250px;
  height:80px;
}

#smallmenu.navbar-header.navbar-header-main.scrolled button {
    margin-top: 5px;
}

#smallmenu.navbar-header.navbar-header-main.scrolled {
  width:inherit;
  height:80px;
  background-color:#ffdd00;
  position:fixed;
  top:0;
  z-index:50;
  box-shadow: 0 1px 0px rgba(0,0,0,.15);
  transition: all .9s;
  opacity:0.95;
}

@media (max-width: 768px) {
#smallmenu.navbar-header.navbar-header-main.scrolled {
  width:100%;
  height:80px;
  background-color:#ffdd00;
  position:fixed;
  top:0;
  z-index:50;
  box-shadow: 0 1px 0px rgba(0,0,0,.15);
  transition: all .9s;
  opacity:0.95;
}
#smallmenu.navbar-header.navbar-header-main.scrolled button {
    margin-top: 5px;
    margin-right:40px;
}
}

/**  END OF SMALLMENU   **/

/**********************/
/**       FORM       **/
/**********************/

@media (min-width: 992px) {
#c3.frame {
    padding: 0 150px;
}
}

/**   END OF FORM   **/

/**********************/
/**   NEWS PLUGIN    **/
/**********************/

.news-list-item .extra,
.btn-read-more {
  display:none;
}

.extra {
  display:none;
}

.thumbnail {
    border:none;
}

.footer {
  display:none;
}

a.more {
  display:none;
}

.news-list-view h3 {
  margin:3px 0 0 0;
}

.news-list-view p {
  margin:0;
  font-size: 1em;
  line-height:0.75;
}

.news-single h1 {
    color:#d2232a;
}

@media (min-width: 768px){
.news-list-item {
  margin:auto;
  padding:0 0.25em;
  float:left;
  width:33.33%;
}
}

.news .col-md-8 {
  padding-left:0;
}

#p5 .lead {
  display:none;
}

#p5 h3 {
  font-size:1.2em;
}
@media (min-width: 768px) {
#p5 .col-md-12 {
    padding-left:5px;
    padding-right:5px;
}

#p5 .col-md-12 img {
    width:350px;
}
}

@media (min-width: 480px) {
#p5 .col-md-12 img {
    min-width:100%;
}

#p5 .news-list-item {
    margin-left:0;
    margin-right:0;
}

/*#p5 img {
    width:340px;
}*/
}

@media (min-width: 320px) {
#p5 .col-md-12 img {
    min-width:100%;
}

#p5 h3 {
    margin-bottom:20px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
#p5 h3 {
    font-size:.9em;
}
}

/***** Hack para evitar problema de flex en safari *****/
div.gallery-row > :first-child {
  margin-left:-2px;
}

.back_arrow {
  font-size: 1.5em;
}

#p8 .caption {
    display:none;
}
/*************************/
/******** LIGHTBOX *******/
/*************************/

.pswp__bg {
  background-color:white;
}

.pswp__caption__center,
.pswp__caption__subtitle {
  color:#000;
  opacity:1;
}

.pswp__caption__title {
  font-style:italic;
  font-weight:700;
}
